@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.canvas {
  display: grid;
  width: 80%;
  height: 80%;
}
.cell {
  border: 1px solid transparent;
}
.top {
  border-top: 1px solid darkgrey;
}
.right {
  border-right: 1px solid darkgrey;
}
.bottom {
  border-bottom: 1px solid darkgrey;
}
.left {
  border-left: 1px solid darkgrey;
}
.entrance {
  background-image: radial-gradient(closest-side at 50%, green, transparent);
}
.exit {
  background-image: radial-gradient(closest-side at 50%, red, transparent);
}